name: Fix Php Code Style

on: [pull_request]

permissions:
  contents: write

jobs:
  php-code-styling:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }} # Ensure the branch is checked out instead of a detached HEAD

      - name: Set User
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'

      - name: Fix Php Code Style
        uses: aglipanci/laravel-pint-action@latest

      - name: Commit Changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Fix Styling
