name: Phpstan Static Analysis

on: [pull_request]

jobs:
  phpstan:
    name: Phpstan Static Analysis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Composer Install
        uses: php-actions/composer@v6

      - name: Setup PHP With Tools
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: zip
          tools: composer:v2

      - name: Set Permissions for Vendor Directory
        run: sudo chmod -R 777 /home/runner/work/package-generator/package-generator/vendor

      - name: Install Composer Dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Install Phpstan Globally
        run: composer global require phpstan/phpstan

      - name: Run Phpstan Static Analysis
        run: ~/.composer/vendor/bin/phpstan analyse assets/ config/ database/ lang/ resources/ routes/ src/ stubs/
